<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  
        ReactJS chia nhỏ các component : để tạo 2 component khác
            1. dùng class(2013)
            2. dùng functional component (2018):
            React do các kĩ sư facebook phát minh
            React viết code trong file jsx
            nhờ thư viện thứ 3 babel đẻ compiler code để thể hiện thị trên các duyệt trình

            constructor(){
                super()
                this.state={
                student:[],
                isActive:false,
                title: "hoc lap trinh"
                }
            }
                - khi muốn cập nhật state thì dùng phương thức mặc định là setState.
                - khi setState thì component re-render lại

                - state : quản lý trạng thái của dữ liệu
                - props : dùng để truyền dữ liệu từ component cha sang component con 
                - muốn truyền dữ liệu từ con sang cha phải truyền qua hướng sự kiện
    -->
</body>
</html>