.form{
  display: flex;
  justify-content: center;
  .main {
    border: 1px solid #ccc; /* Reduced border thickness */
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vh;
    .tieude{
      font-size: 20px;
      font-weight: bold;
    }
    .logo {
      display: flex;
      justify-content: center; /* Center the image horizontally */
      align-items: center; /* Center the image vertically */
      margin-bottom: 20px; /* Add some margin between the image and other content */
      
      img {
        max-width: 50px;
        height: auto;
      }
    }
  
    .item {
      padding: 20px; /* Padding applied directly to the form */
      text-align: center;
  
      input {
        margin-bottom: 10px;
        margin-left: 0px;
        width: 300px;
      }
  
      label {
        display: flex;
        margin-left: 50px;
        margin-bottom: 10px;
      }
  
      .fogetpassword {
        margin-bottom: 10px;
  
        a {
          color: blue; // Example color
          text-decoration: none;
        }
      }
  
      button {
        margin-bottom: 10px;
        height: 30px;
        width: 200px;
        margin-right: 5px;
        cursor: pointer;
      }
  
      .dangnhap {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: rgb(56, 56, 255);
        color: white;
        cursor: pointer;
      }
    }
    .ria{
      display: flex;
      margin-left: 50px;
    }
  
   
  }
}

  